* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
}

main {
    padding: 20px;
}

main h2 {
    color: #1434A6;
}

main p {
    margin-top: 10px;
}

header {
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

header h1 {
    font-family: 'Graduate', serif;
    letter-spacing: 4px;
    max-width: 70%;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    margin-right: 10px;
    color: #ff3115;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

header img {
    width: 175px;
    height: 70px;
    margin-left: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.home {
    background-image: url("img/headers/header.jpg");
}

.programs {
    background-image: url("img/headers/programs.jpg");
}

.blogs {
    background-image: url("img/headers/news.jpg");
}

.about {
    background-image: url("img/headers/about.jpg");
}

.inquire {
    background-image: url("img/headers/inquire.jpg");
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    header img {
        width: 100px;
    }

    nav ul {
        flex-direction: row;
    }
}



/* Styles for the nav bar */
nav ul {
    margin: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #1134A6;
    list-style: none;
    text-align: center;
    padding: 0 20px;
}

nav li {
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
}

nav li .inquire-now {
    background-color: #ff3115;
    margin-left: auto;
    border: none;
    padding: 17px 15px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    transition: all 0.5s;
}

nav li .inquire-now:hover {
    color: #fff;
    opacity: 0.9;
    box-shadow: 0 0 14px rgb(238, 7, 7, 1); 
}

nav li .inquire-now:active {
    background-color: #cc2100; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
}

nav a:hover {
    color: #ff3115;
}

nav ul li .nav-title {
    color: #ff3115;
    font-weight: bold;
}

nav ul li .nav-title:hover {
    color: #fff;
}



/* Styles for the dropdown in nav bar */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1134A6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 5px;
    margin: 5px 0 0 -5px;
    border-radius: 5px;
}

.dropdown-content:hover {
    background-color: #ff3115;
}

.dropdown-content a {
    display:block;
    text-align: left;
    margin-top:20px;
    font-family: 'Exo 2', sans-serif;
}

.dropdown-content a:first-child {
    margin-top: 0;
}

.dropdown-content a:hover {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Styles for the images slides in home page */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 100%;
    width: 100%;
    transition: all 0.15s ease;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.dots label {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid #1134A6 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background-color: #ff3115;
}

#image1:checked ~ .m1 {
    margin-left: 0;
}

#image2:checked ~ .m2 {
    margin-left: -100%;
}

#image3:checked ~ .m3 {
    margin-left: -200%;
}

#image4:checked ~ .m4 {
    margin-left: -300%;
}



/* Styles for the About in home page section */
.about-home-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 70px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.about-home-container h2 {
    letter-spacing: 3px;
    font-size: 42px;
    font-family: 'Exo 2', sans-serif;
    color: #393A94;
    text-align: center;
    margin-bottom: 20px;
}

.about-home-container div {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.about-home-container p {
    color: #6c727a;
    line-height: 1.6;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

@media (max-width: 600px) {
    .about-home-container {
        margin: 20px;
    }
}



/* Styles for the Programs in home page section */
.programs-home-container {
    margin: 40px 0 40px 0;
}

.programs-home-container h2 {
    letter-spacing: 3px;
    color: #393A94;
    font-size: 42px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin: 20px auto;
}

.program-container .program a {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.5s;
}

.program a:hover {
    color: #ff3115;
}

.program-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.program {
    width: 25%;
    margin: 20px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.program img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.program img:hover {
    opacity: 0.6;
}

.program-container .explore-courses {
    background-color: #fff;
    border: 1px solid #ff3115;
    padding: 18px 36px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    color: #000;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

.program-container .explore-courses:hover {
    background-color: #ff3115;
    border: 1px solid #000;
    color: #fff;
    opacity: 0.9;
}



/* Styles for the news and events in home page */
.news-home-container {
    display: flex;
    max-width: 90%;
    margin: 20px auto 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main .latest-developments h2 {
    font-size: 42px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: #393A94;
    margin: 40px auto;
}

.news-home-title {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-home-container .news-home-title h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s;
    color: #000;
}

.news-home-container .news-home-title h2:hover {
    color: #ff3115;
}

.news-home-title img {
    max-width: 80%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin: 25px auto 25px auto;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.news-home-title img:hover {
    opacity: 0.8;
}

.news-home-title .explore-blog {
    background-color: #fff;
    border: 1px solid #ff3115;
    padding: 24px 110px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

.news-home-title .explore-blog:hover {
    background-color: #ff3115;
    border: 1px solid #000;
    color: #fff;
    opacity: 0.9;
}

.news-home-title .explore-blog:active {
    background-color: #cc2100;
}

.news-home-details {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.other-news {
    display: flex;
    max-width: 100%;
    margin: 20px;
    padding: 0 0 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.other-news-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px 0 0 0;
}

.other-news-image img:hover {
    opacity: 0.8;
}

.other-news-details {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.other-news-details i {
    margin-right: 10px;
}

.other-news-details p {
    display: inline-block;
    font-size: 16px;
    color: #6c727a;
    font-family: 'Glegoo', serif;
}

.other-news-details h3 {
    font-size: 16px;
    color: #000;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: left;
    cursor: pointer;
    margin-top: 12px;
    transition: color 0.5s;
}

.other-news-details h3:hover {
    color: #ff3115; 
}





/* Styles for the Programs page */
.course-page-title {
    margin: 10px 0 50px 0;
    
}

.course-page-title h1 {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 42px;
    color: #393A94;
    letter-spacing: 2px;
}

.course-page-title hr {
    width: 85%;
    margin: 0 auto;
}

.year-level-container {
    margin-left: 120px;
}

.year-level-container h2 {
    color: #ff3115;
}

.year-level-container h2:hover {
    color: #555;
}

.year-level-container h2, .course h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    cursor: pointer;
    transition: color 0.5s;
}

main .course-box {
    margin-bottom: 50px;
}

main .course-box .course-container {
    margin-bottom: 40px ;
}

.course h2 {
    color: #1134A6;
    margin-bottom: 20px;
    text-align: center;
}
.course h2:hover {
    color: #ff3115;
}

.course-container {
    display: flex;
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-details {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.course img {
    border: 2px solid rgba(0, 0, 0, 0.6);
    max-width: 70%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.course img:hover {
    opacity: 0.8;
}

.course-details h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Glegoo', serif;
}

.course-details p {
    color: #6c727a;
    font-size: 20px;
    text-align: left;
    font-family: 'Amiri', serif;
}

.course-details .first-details {
    margin-bottom: 20px;
    font-weight: bold;
    color: #363a40;
}



/* Styles for the News page */
.news-title {
    margin: 30px 50px 50px;
}

.news-title h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 42px;
    color: #393A94;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
}

.news-title hr {
    width: 45%;
    margin: 0 auto;
}

.news-container {
    display: flex;
    max-width: 90%;
    margin: 20px auto 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-container .news h2, .news-details h3  {
    font-family: 'Kdam Thmor Pro', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s;
}

.news-container .news h2:hover {
    color: #ff3115;

}

.news-details {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.news img {
    border: 1px solid #000;
    max-width: 80%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 30px;
}

.news img:hover {
    opacity: 0.8;
}

.news-details h3 {
    text-align: left;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Glegoo', serif;
    font-style: italic;
}

.news-details h3:hover {
    color: #6c727a;
}

.news-details p {
    color: #6c727a;
    font-size: 15px;
    text-align: left;
    font-family: 'Amiri', serif;
}



/* Styles for the About Us page */
.about-title {
    margin: 30px 50px 50px;
}

.about-title h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 42px;
    color: #393A94;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
}

.about-title hr {
    max-width: 65%;
    margin: 10px auto;
}

.about-page-container {
    display: flex;
    max-width: 90%;
    margin: 20px auto 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-details {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.about-details h3 {
    text-align: left;
    font-size: 26px;
    margin-top: 20px;
    color: #000;
    font-family: 'Glegoo', serif;
    cursor: pointer;
    transition: color 0.5s;
}

.about-details h3:hover {
    color: #6c727a;
}

.about-details .mission-hr {
    max-width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ff3115;
}

.about-details .vision-hr {
    max-width: 15%;
    margin-bottom: 20px;
    border: 1px solid #ff3115;
}

.about-details .core-values-hr {
    max-width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ff3115;
}

.about-container img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 115px;
}

.about-container img:hover {
    opacity: 0.9;
    filter: drop-shadow(5px 5px 8px rgba(255, 49, 21, 0.8));
}

.about-details p {
    color: #6c727a;
    font-size: 22px;
    text-align: left;
    font-family: 'Amiri', serif;
}

.about-details span {
    color: #000;
    font-weight: 400;
}

.history-container {
    max-width: 100%;
    margin: 20px auto;
}

.history-title {
    text-align: center;
    margin-bottom: 20px;
}

.history-title h1 {
    color: #393A94;
    font-size: 42px;
    font-family: 'Exo 2', sans-serif;;
}

.sub-title h1 {
    color: #393A94;
    font-size: 28px;
    font-family: 'Exo 2', sans-serif;
    text-align: left;
}

.main-title hr {
    max-width: 50%;
    margin: 10px auto 35px auto;
}

.history-details {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 30px;
}

.history-container p {
    color: #000;
    line-height: 1.6;
    font-family: 'Amiri', serif;
    font-size: 18px;
}

.philosophy {
    margin-top: 40px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}



/* Styles for the Inquire Now page */
.inquire-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 50px auto;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 60%;
}

.form-container h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    color: #393A94;
}

.form-container form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-family: 'Exo 2', sans-serif;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 8px;
    display: block;
}

.form-container span {
    color: #ff0000;
}

.form-container input, select, textarea {
    padding: 12px;
    margin: 5px 0 15px 0;
    border: 1px solid rgb(173, 168, 168);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    box-shadow: 0 0 12px rgba(255, 49, 21, 1);
}

.form-container select {
    cursor: pointer;
}

.form-container input[type="submit"] {
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 30px auto 0;
    background-color: #ff3115;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s;
    width: 150px;
    padding: 20px;
    transition: all 0.5s;
}

.form-container input[type="submit"]:hover {
    color: #fff;
    opacity: 0.9;
    box-shadow: 0 0 8px rgb(238, 7, 7, 1); 
}

.form-container input[type="submit"]:active {
    background-color: #cc2100; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
    color: #fff; 
}



/* Style for the Footer */
.footer-distributed{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
    margin: 40px 0 0 15px;
    width: 40%;
}

/* The company logo */

.footer-distributed img {
    width: 175px;
    height: 70px;
    margin: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a { 
    display:inline-block;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s;
}

.footer-distributed .footer-links a:hover { 
    color: #1134A6;
}

/* Footer company name */
.footer-distributed .footer-left .footer-company-name a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-distributed .footer-left .footer-company-name a:hover {
    color: #1134A6;
}

.footer-distributed .footer-company-name {
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    margin-top: 30px;
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color:#33383b;
    color: #ffffff;
    font-size: 22px;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    line-height: 39px;
    margin: 10px 15px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-distributed .footer-center i:hover {
    background-color:#1134A6;
    color: #ff3115;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a {
    color:  #fff;
    text-decoration: none;;
    transition: color 0.3s;
}

.footer-distributed .footer-center p a:hover {
    color:  #1134A6;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons span {
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 12px 5px 0;
    transition: all 0.3s;
}

.footer-distributed .footer-icons a:hover {
    background-color:#1134A6;
    color: #ff3115;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

/* Responsive Design */
